@charset "UTF-8";

body {
    background-color: beige;
}

.img {
    display: flex;
    height: 500px;
    justify-content: center;
}

img {
    width: 600px;
    height: 500px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p, ul, ol {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    font-size: 14pt;
}

h1, h2, ul, ol {
    color: grey;
    
}
